# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1


orbs:
  aws-cli: circleci/aws-cli@2.0

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  aws-cli-example:
    executor: aws-cli/default # 実行元の呼び出し
    steps:
      - checkout # まずはgithubのリポジトリにまずはcheckout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY
          aws-secret-access-key: AWS_SECRET_KEY
          aws-region: AWS_DEFAULT_REGION
      - run:
          name: "Upload Cloudformation files"
          command: "aws cloudformation create-stack --stack-name SampleStack --region ap-northeast-1 --template-body file://sample_stack.yml"
      - run:
          name: "Wait Stack Complete"
          command: "aws cloudformation wait stack-create-complete --stack-name SampleStack"
 
  ansible:
    machine:
        image: circleci/classic:edge
    steps:
      - checkout
      - add_ssh_keys
      - run:
          name:"Connect ssh and echo Hello"
          run: ssh ${USER_NAME}@${HOST_NAME} 'echo "Hello"'


# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  # aws-cli:
  #   jobs:
  #     - aws-cli-example
  ansible:
    jobs:
      - ansible

